/*
セレクタ { プロパティ名: 値; }
セレクタ { 
    プロパティ名: 値; 
    プロパティ名: 値; 
}

* ユニバーサルセレクタ
要素名 p h1 div
#id
.class
*/


/* * {　color: skyblue;　} */


/* h1 {
    color: skyblue;
}

#first {
    color: orange;
}

.points {
    color: violet;
} */


/*
セレクタ
a,b
a b
a > b
a + b
ab
*/


/* h1,
p {
    color: skyblue;
} */


/* div span {
    color: skyblue;
} */


/* div>span {
    color: skyblue;
} */


/* p+p {
    color: skyblue;
} */


/* p.points {
    color: skyblue;
} */


/*
属性セレクタ
*/


/* a[title] {
    color: skyblue;
} */


/* a[href="http://google.com"] {
    color: orange;
} */


/* a[class~="search"] {
    color: violet;
} */


/* ul li:first-child {
    color: skyblue;
}

a:link {
    color: violet;
}

a:visited {
    color: orange
}

a:hover {
    color: pink;
}

a:active {
    color: red;
}

input:focus {
    background: skyblue;
} */


/* p::first-line {
    color: skyblue;
} */


/* p:first-letter {
    color: skyblue;
} */


/* p:before {
    content: "-->"
}

p:after {
    content: "<--"
} */


/*
セレクタ
詳細度
(a) style=""
(b) id
(c)  属性
(d)　要素,疑似要素
*/


/* 0, 0, 0, 1

a {
    color: skyblue !important;
}


/* 0, 0, 1, 1 */


/* a.link {
    color: pink;
} */


/* 0, 0, 1, 1 */


/* a.search {
    color: orange;
} */


/* 0, 1, 0, 1 */


/* a#site {
    color: blue;
} */


/*
値
    - 長さ
        - px
        - em
        - %
    - 色
        - 名前
        - RGB
        - Red 0-f / 00-ff / 0-255 / 0%-100%
        - Green
        - Blue
*/

/* body {
    font-size: 16px;
} */

/* h1 {
    font-size: 2em;
}


/* 32px */

/* h2 {
    font-size: 150%;
}  */


/* 24px */

/* h1 {
    color: blue;
}

h1 {
    color: #00f;
}

h1 {
    color: #0000ff;
}

h1 {
    color: rgb(0%, 0%, 100%);
} */

Body {
    background: white;
    font: 30px sans-serif;
}

.button a {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: lightseagreen;
    border-radius: 5px; /*角を丸くする*/
    box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.6),
    inset -4px -4px 4px rgba(0, 0, 0, 0.4),
    4px 4px 8px rgba(0, 0, 0, 0.6);/*右下を黒く、左上を白くする。右下に影をつける。*/
}

.button a:hover {
    background-color: mediumaquamarine;/*色をmediumaquamarineに変更*/
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.6),/*中影を付加*/
    inset -2px -2px 4px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(0, 0, 0, 0.8);/*影を付加*/
    transform: translateY(2px);/*Y軸を下に2下げる*/
}